<p>{{input value=newPhoto placeholder="photo"}}</p>
<p>{{input value=newName placeholder="name"}}</p>
<p>{{input value=newDescription placeholder="description"}}</p>

<button {{action "createNew"}}>Create New Travel Post</button>
