<center><h2>This is Show Template</h2></center>

<center><button {{action "deletePost" post}}>To Delete This Post</button></center>

  <ul>
    <center><img class="lg-photo" {{bind-attr src=photo}}class="ui fluid image"></center>
    <li>{{name}}</li>
    <li>{{description}}</li>
  </ul>
